{% if page.project == "overview" %}

<div class="project_synopsis">

    <h2 id="project-glossary">Project Index</h2>
    
    {% for page in site.pages reversed %}
        {% if page.project and page.project != "overview" and page.layout == 'project_page' %}
            <div class="proj_summary">
            
                <p><span class="bold_p">Title:</span> <a href="{{ page.url }}">{{ page.title }}</a></p>
            
                {% assign pathParts = page.path | split: "/" %}
                {% assign length = pathParts.size | minus: 2 %}
                {% assign path = "" %}
                {% for c in (1..length) %}
                    {% capture path %}{{ path }}/{{pathParts[c]}}{% endcapture %}
                {% endfor %}
        
                <p class="bold_p">Description:</p>
                <p class="proj_desc">{% include_relative {{path}}/{{page.abstract}} %} </p>
            </div>
       {% endif %}
    {% endfor %}
</div>
{% endif %}
